//Buttons
.btn {
  display: inline-block;
  // font-size: 0.8rem;//defined locally in a tag
  text-decoration: none;
  padding: 0.35rem 0.5rem;
  cursor: pointer;
  border-radius: 0.15rem;

  &.btn-secondary {
    background-color: $secondary-color;
  }
}
