// Colors
$primary-color: #000;
$secondary-color: #e20813;
$terciary-color: #fff;
$grey01: #222;
$grey02: #303030;
$grey03: #9999;
$blue01: #4679e8;

// Font
$font-stack: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Width
$max-width: 1100px;
