// margins
// x+y
.m-05 {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-15 {
  margin: 1.5rem;
}
.m-2 {
  margin: 2rem;
}

// x
.mx-05 {
  margin: 0 0.5rem;
}
.mx-1 {
  margin: 0 1rem;
}
.mx-15 {
  margin: 0 1.5rem;
}
.mx-2 {
  margin: 0 2rem;
}
// y
.my-05 {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-15 {
  margin: 1.5rem 0em;
}
.my-2 {
  margin: 2rem 0;
}
//-y
.myb-05 {
  margin-bottom: 0.5rem;
}
.myb-1 {
  margin-bottom: 1rem;
}
.myb-15 {
  margin-bottom: 1.5;
}
.myb-2 {
  margin-bottom: 2rem;
}
